body{
    margin: 0 auto;
    font-family: Arial;
    background-color: #270073;
    background-image: url('../images/planetas.png');
    background-size: 40vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


h1{
    background-color: #270073;
    color: white;
    text-align: center;
    border-radius: 20px;
    font-weight: 100;
}

a{
    color: white;
    text-decoration: none;
}
